{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top:100px;min-height:600px;">
        <ul class="nav nav-tabs" role="tablist" id="Tab1">
            <li class="tab-0 active"><a href="#St1" role="tab" data-toggle="tab">Шаг 1.</a></li>
            <li class="tab-1" style="display: none"><a href="#St2" role="tab" data-toggle="tab">Шаг 2.</a></li>
            <li class="tab-2" style="display: none"><a href="#St3" role="tab" data-toggle="tab">Шаг 3.</a></li>
        </ul>
    <div class="tab-content" >
        <div class="tab-pane active" id="St1" >
            {% include 'tabs/car_select_tab.html' %}
        </div>
        <div class="tab-pane" id="St2">
            {% include 'tabs/tree_tab.html' %}
        </div>
        <div class="tab-pane " id="St3">
            {% include 'tabs/service_select_tab.html' %}
        </div>
    </div>
</div>
    <script>
    $(document).ready(function () {
        var questionRowTemplate =
            _.template('<div class="row"> \
                <article class="col-md-9 maincontent">\
                    <% if (!node.root) { %>\
                    <a class="return-back btn btn-warning" href="<%= node.id %>" style="background-color: #888888">Назад</a>\
                    <br />\
                    <header class="page-header" style="margin-top:0px"><br>\
                        <h1 style="margin-top:0px;font-family: \'jura\'"><b><%= node.name %></b></h1>\
                        <h3 class="page-title" style="font-family: \'jura\'"><%= node.node_text %></h3>\
                    </header>\
                    <% _.each(answers, function(answer) { %> \
                     <a class="btn btn-action btn-lg answer" style="margin: 1%;" href="<%= answer.id %>"><%= answer.text %></a>\
                     <% }); %>\
                    <%} else { %>\
                     <header class="page-header" style="margin-top:0px"><br>\
                        <h3 style="margin-top:0px;font-family: \'jura\'"><b><%= node.name %></b></h1>\
                        <h1 class="page-title" style="font-family: \'jura\'"><%= node.node_text %></h3>\
                        <select class="branch-select" style="height: 45px; width: 190px; margin:10px" tabindex="3">\
                        <option value=""> ----- </option>\
                    <% _.each(answers, function(answer) { %>\
                        <option value="<%= answer.id %>"> <%= answer.text %> </option>\
                    <% }) %>\
                    </select>\
                    </header>\
                    <% } %>\
                </article>\
            </div>');

        var breakdownTemplate = _.template('<div class="row"> \
                <article class="col-md-9 maincontent">\
                <% if (!node.root) { %>\
                    <a class="return-back btn btn-warning" href="<%= node.id %>" style="background-color: #888888">Назад</a>\
                    <%}%>\
                    <br /><br /><br />\
                    <% _.each(node.breakdowns, function(breakdown, index) { %>\
                    <div class="well">\
                    <header class="page-header" style="margin-top:0px"><br>\
                        <h1 style="margin-top:0px;font-family: \'jura\'">Возможная поломка <%= index+1 %></b></h1>\
                        <h3 class="page-title" style="font-family: \'jura\'"><%= breakdown.name %></h3>\
                    </header>\
                    <a class="btn btn-success btn-lg breakdown-show" style="margin: 1%;" href="<%= breakdown.id %>">Просмотреть</a>\
                    </div>\
                    <% }) %>\
                </article>\
            </div>');

        var instructionTemplate = _.template(
                '<% _.each(steps, function(step) { %> ' +
                '<div class="thumbnail well" style="font-size: 16pt">' +
                        '<div class="caption">'+
                        '<p><%= step.text %></p>'+
                    '</div>'+
                 '<% if (step.img) { %>' +
                   '<img src="<%= step.img %>" >'+
                   '<% } %>'+
                '</div> <% }) %>');

        var questionDest = $('.question-class');
        var instructionDiv = $('.instructions');
        var instructionDest = $('.instruction-dest');


        $('body').on('click', 'a.breakdown-show', function (event) {
            event.preventDefault();
            tab2.show();
            $('.nav-tabs li:eq(2) a').tab('show');
            var id = Number($(this).attr('href'));
            if (!isNaN(id)) {
                var breakdownDescription = $('.breakdown-description');
                var breakdownName = $('.breakdown-name');
                var symptoms = $('.symptoms');
                var services = $('.services');
                var breakdownDescriptionTemplate = _.template("<td class='tab1' data-label='Сложность'><%= difficulty %></td> \
                                                  <td class='tab1'  data-label='Вид работ'><%= jobs_types %></td> \
                                                  <td class='tab1' data-label='Необходимые запчасти'><%= spares %></td> \
                                                  <td class='tab1' data-label='Стоимость ремонта в техцентре'><%= price %></td>");
                var serviceTemplate = _.template("<tr><td><%= name %></td> \
                                       <td><%= address %></td>\
                                       <td><a href='http://<%= site %>'><%= site %></td>\
                                       <td><%= price %></td></tr>");
                $.get(
                    '{% url 'cars:breakdown' %}',
                        {
                            breakdown_id: id,
                            brand: $('.brand-select').val()
                        }
                ).done(function (data) {
                    breakdownDescription.html(breakdownDescriptionTemplate(data.breakdown));
                    breakdownName.html(data.breakdown.name);
                    symptoms.html(data.breakdown.symptoms);
                    var servicesResult = '';
                    _.each(data.services, function (service) {
                        servicesResult += serviceTemplate(service);
                    });
                    services.html(servicesResult);
                });
            }
        });

        $('body').on('click', 'a.answer', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get('{% url 'breakdown:search' %}', {
                node_id: Number(href)
            }).done(function (data) {
                if (data.node.instruction) {
                    $.get('{% url 'breakdown:instruction' %}', {
                        step_id: Number(data.node.instruction)
                    }).done(function (data) {
                        instructionDiv.show();
                        instructionDest.html(instructionTemplate(data));
                        console.log(instructionTemplate(data))
                    })
                } else {
                    instructionDiv.hide();
                }
                if (data.answers.length != 0) {
                    questionDest.html(questionRowTemplate(data));
                } else {
                    questionDest.html(breakdownTemplate(data));

                }
            })
        });
        $('body').on('click', 'a.return-back', function(event){
            event.preventDefault();
            var href = $(this).attr('href');
            $.get('{% url 'breakdown:prev_node' %}', {
                node_id: Number(href)
            }).done(function (data) {
                 if (data.node.instruction) {
                    $.get('{% url 'breakdown:instruction' %}', {
                        step_id: Number(data.node.instruction)
                    }).done(function (data) {
                        instructionDiv.show();
                        instructionDest.html(instructionTemplate(data));
                    })
                } else {
                    instructionDiv.hide();
                }
                questionDest.html(questionRowTemplate(data));

            });
        });

        $('body').on('change', 'select.branch-select', function (event) {

            var href = $(this).val();
            $.get('{% url 'breakdown:search' %}', {
                node_id: Number(href)
            }).done(function (data) {
                if (data.node.instruction) {
                    $.get('{% url 'breakdown:instruction' %}', {
                        step_id: Number(data.node.instruction)
                    }).done(function (data) {
                        instructionDiv.show();
                        instructionDest.html(instructionTemplate(data));
                        console.log(instructionTemplate(data))
                    })
                } else {
                    instructionDiv.hide();
                }
                if (data.answers.length != 0) {
                    questionDest.html(questionRowTemplate(data));
                } else {
                    questionDest.html(breakdownTemplate(data));

                }
            })
        });

        var tab0 = $('.tab-0');
            var tab1 = $('.tab-1');
            var tab2 = $('.tab-2');
            $(".btn-car").click(function (event) {
                event.preventDefault();
                tab1.show();
                $(".nav-tabs li:eq(1) a").tab('show');
                $.get('{% url 'breakdown:root_node' %}', {
                    model: $('.model-select').val()
                }).done(function (data) {
                    questionDest.html(questionRowTemplate(data));
                });
            });
            tab0.click(function () {
                tab1.hide();
                tab2.hide();
            });
            tab1.click(function () {
               tab2.hide();
            })




    });
    </script>
    <script type="text/javascript" src="{% static 'cars/js/ajaxloads.js' %}"></script>
{% endblock %}