<div class="row">
    <article class="col-md-9 maincontent">
        <header class="page-header">
            <h4 class="page-title" style="font-size:30px" ><b>Двигаемся дальше!</b></h4>
            <h5 class="page-title" style="font-size:24px">Теперь нужно выбрать, в чем неисправность.</h5>
        </header>
        <div id="treeview12" class="treeview col-md-9">
        </div>
        <br />
        <a class="btn btn-default btn-general" role="button" style="margin: 1%;padding:15px 10px 15px 10px;" href="{% url 'breakdown:breakdown_search' %}">Я не знаю в чем конкретно неисправность.</a>
        <a class="btn btn-action btn-general btn-breakdown" role="button" href="" >Продолжить.</a>
    </article>
</div>