 <div class="row">
    <article class="col-md-9 maincontent">
        <header class="page-header">
            <h4 class="page-title" style="font-size:30px" >Привет!</h4>
            <h5 class="page-title" style="font-size:24px">Для того, что бы начать поиск поломки, Вам необходимо выбрать марку, модель и год выпуска автомобиля.</h5>
        </header>
        <div class="container con1" style="max-width:480px;">
            <div class="row">
                <label>
                    Марка
                    <select class="brand-select" style="height: 45px; width: 190px; margin:10px" tabindex="1"  data-url="{% url 'cars:cars_models' %}">
                        {% for car_brand in cars_brands %}
                            <option value="{{ car_brand.id }}">{{ car_brand }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    Модель
                    <select class="model-select" style="height: 45px; width: 190px; margin:10px" tabindex="2" data-url="{% url 'cars:cars_years' %}">
                    </select>
                </label>
            </div>
            <div class="row">
                <label>
                    Год выпуска
                    <select class="year-select" style="height: 45px; width: 190px; margin:10px" tabindex="3" data-url="{% url 'cars:cars_modifications' %}">
                    </select>
                </label>
                <label>
                    Комплектация
                    <select class="modification-select" style="height: 45px; width: 190px; margin:10px" tabindex="3">
                    </select>
                </label>
            </div>
            <div class="row">
                <label>Пробег
                <input type="number" placeholder="пробег" class="mileage"></label>
            </div>
            <br />
            <a class="btn btn-action btn-general btn-car" role="button" style="" href="">Продолжить</a>
        </div>
    </article>
</div>