<div class="row">
    <article class="col-md-9 maincontent">
        <header class="page-header">
            <h4 class="page-title" style="font-size:30px" ><b>Почти закончили!</b></h4>
            <h5 class="page-title" style="font-size:24px">Вибираем сервис.</h5>
        </header>
        <div class="container" style="min-height:350px;margin-bottom:20px; ">
            <div class="row" style="margin:5px">
                <article class="col-md-6 maincontent" style="border: 3px solid #6678b1; border-radius: 10px; background-color:#FDFCFC ; padding:30px;padding-top:0px;">
                    <header class="page-header">
                        <h1 class="page-title" ><b>Поломка:</b></h1>
                        <h2 class="page-title breakdown-name"></h2>
                    </header>
                    <div class="container-fluid" style="padding-buttom:3%">
                        <table class="tab1">
                            <tbody>
                                <tr class="tab1 breakdown-description">

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <h2>Симптомы</h2>
                    <ul>
                        <li style="font-size: 120%;font-family: 'Neucha', cursive;font-weight:1;text-align: left;" class="symptoms">
                        </li>
                    </ul>
			    </article>
                <div class="container col-md-6  ">
                </div>
            </div>
        </div>
    </article>
    <div class="row" style="margin-left: 0px;">
        <div class="col-md-6">
            <h2 class="page-title" style="margin-top:100px"> Подходящие автосервисы</h2>
            <table>
                <thead>
                    <tr>
                        <th>Название автосервиса</th>
                        <th>Адрес</th>
                        <th>Контакты</th>
                        <th>Прайс</th>
                    </tr>
                </thead>
                <tbody class="services">
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <br><br><br><br><br><br><br>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=xcxd6GhTXN68rAv5UCBFsui2k2gvcDc5&amp;width=400&amp;height=400&amp;lang=ru_RU&amp;sourceType=mymaps&amp;scroll=true"></script>
        </div>
    </div>
</div>

