<div class="row">
    <article class="col-md-9 maincontent">
        <header class="page-header">
            <h4 class="page-title" style="font-size:30px" >Почти закончили!</h4>
            <h5 class="page-title" style="font-size:24px">Вибираем сервис.</h5>
        </header>
        <div class="container" style="min-height:350px;margin-bottom:20px; ">
            <div class="row" style="margin:5px">
                <article class="col-md-6 maincontent" style="border: 3px solid #6678b1; border-radius: 10px; background-color:#FDFCFC ; padding:30px;padding-top:0px;">
                    <header class="page-header">
                        <h1 class="page-title" ><b>Поломка:</b></h1>
                        <h2 class="page-title breakdown-name"></h2>
                    </header>
                    <div class="container-fluid" style="padding-buttom:3%">
                        <table class="tab1">
                            <tbody>
                                <tr class="tab1 breakdown-description">

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="symptoms-dest">
                        <h2>Симптомы</h2>
                        <ul>
                            <li style="font-size: 120%;font-family: 'Didact Gothic', sans-serif;font-weight:1;text-align: left;" class="symptoms">
                            </li>
                        </ul>
                    </div>
			    </article>
                <div class="container col-md-6  ">
                </div>
            </div>
        </div>
    </article>
    <div class="row services-dest" style="margin-left: 0px;">
        <div class="col-md-8">
            <h2 class="page-title"> Подходящие автосервисы</h2>
            <table>
                <thead>
                    <tr>
                        <th>Название автосервиса</th>
                        <th>Адрес</th>
                        <th>Контакты</th>
                        <th>Прайс</th>
                    </tr>
                </thead>
                <tbody class="services">
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div id="map">

            </div>
        </div>
    </div>
</div>

<script>
ymaps.ready(function () {
    myMap = new ymaps.Map('map', {
        center: [55.751574, 37.573856],
        zoom: 9
    }, {
        searchControlProvider: 'yandex#search'
    });
});
</script>