{% extends 'base.html' %}
{% block content %}
    <div class="container" style="padding-top:100px;">
        <div class="row">
            <article class="col-md-9 maincontent">
                <header class="page-header">
                    <h4 class="page-title" style="font-size:30px" >Мы открыты для ваших предложений </h4>
                    <h5 class="page-title" style="font-size:24px">info@vsepolomki.ru</h5>
                </header>
                <div class="" style="">
                    <div class="container question-class" style="margin-top:1%;">
                    </div>
                    <h4 class="page-title" style="padding-bottom:2%;color:#000">VsePolomki.ru - веб-сервис, позволяющий провести диагностику вашего автомобиля онлайн. И тут текст размножь, я придуаю ченить</h4>
                </div>
            </article>
        </div>
    </div>
{% endblock %}