{% extends 'base.html' %}
{% block content %}
    <!-- /.navbar -->
	<!-- slider -->
    <div id="slider" class="carousel slide" data-ride="carousel">
      <!-- controls -->
      <!--<div class="carousel-inner">

        <div class="item active" style="background:#181015 url( assets/images/bg_header.jpg) no-repeat; background-size: cover; min-height:400px; text-align: right;   color:white; ">
          <div class="container" >
            <div class="carousel-caption">
        <h1 class="lead" style="font-family: 'Poiret One', cursive; font-weight:300; text-align:right;color: #FFEFD7;text-shadow: 1px 1px #333, 2px 2px #111;"><b>Ремонт автомобиля<br><font size="6">Стал проще</font></b></h1>
            </div>
          </div>
        </div>
      </div>-->
      <!-- left-right controls -->
		<header id="head">
        	<h1 class="lead" >Ремонт автомобиля  </h1> <h1 class="lead" style="font-size:28px;">Стал проще</h1>
        </header>
    </div><!-- /.carousel -->
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space" style="background-color:#F2F2F2;margin:0px; padding:10px">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="h-caption"><h4><i class="fa fa-cogs"></i>Система поиска неисправностей</h4></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="h-caption"><h4 ><i class="fa fa-car"  ></i>Подбор автосервисов</h4></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="h-caption"><h4><i class="fa fa-wrench"></i>Инструкции по починке</h4></div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="h-caption"><h4><i class="fa fa-book"></i>База неисправностей</h4></div>
				</div>
			</div> <!-- /row  -->
		</div>
	</div>
	<div class="jumbotron top-space" style="padding:20px">
		<div class="container">
			<h5 class="text-center" style="font-size:28px;">Как это работает?</h5>
			<div class="row" >
				<div class="col-md-6 col-sm-6" style="margin-top:40px">
					<h4 class="num-list-header">1. Выберите ваш автомобиль. </h4>
					<h5 style="margin-left: 21px;">Выберите марку и модель вашего автомобиля.</h5>
					<h4 class="num-list-header" >2. Укажите вид работ.</h4>
					<h5 style="margin-left: 21px;">Расскажите нам что конкретно вам требуется починить.</h5>
					<h4 class="num-list-header" >3. Найдите подходящий автосервис</h4>
					<h5 style="margin-left: 21px;">Широкий диапазон цен, расчитанный по всем автосервисам Москвы.</h5>
				</div>

  				<div class="col-md-6 col-sm-6" align="right" style="margin-top:15px;">
  					<img class="ad2" src="assets/images/DBaFazN2bac.jpg">
  				</div>
			</div>
		</div>
		<div class="text-center"  style="color:#F06015">
			<a class="btn btn-action btn-general" role="button" href="{% url 'cars:breakdown_search' %}" >Начать</a>
		</div>
	</div>
    <div class="jumbotron top-space" style="background-color:#F2F2F2;margin:0px;">
		<div class="container">
			<h5 class="text-center" style="font-size:28px;">VsePolomki.ru - это:</h5>
			<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="h-body">
					<h4 style="color:#555"><b>800 000</b> активных пользователей. </h4>
				</div>
			</div>
			<div class="col-md-6 col-sm-6" align="right">
				<div class="h-body">
					<h4 style="color:#555; "><b>10 000</b> автосервисов-партнеров.</h4>
				</div>
			</div>
			</div> <!-- /row  -->
			<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="h-body">
					<h4 style="color:#555"><b>120</b> поломок в базе неисправностей. </h4>
				</div>
			</div>
			<div class="col-md-6 col-sm-6" align="right">
				<div class="h-body">
					<h4 style="color:#555;"><b>1000</b> найденых поломок с нашей помощью. </h4>
				</div>
			</div>
			</div> <!-- /row  -->
		</div>
	</div>
	<div class="jumbotron top-space"  style="padding:20px">
		<div class="container">
			<h5 class="text-center" style="font-size:28px;">Как пользоваться СПН?</h5>
			<div class="row">
				<div class="col-md-6 col-sm-6" style="margin-top:40px">
					<h4 class="num-list-header">1. Выберите ваш автомобиль. </h4>
					<h5 style="margin-left: 21px;">Выберите марку и модель вашего автомобиля.</h5>
					<h4 class="num-list-header" >2. Укажите симптомы.</h4>
					<h5 style="margin-left: 21px;">Например, проваливается тормоз или не работают дворники.</h5>
					<h4 class="num-list-header" >3. Ответьте на вопросы системы поиска неисправностей</h4>
					<h5 style="margin-left: 21px;">Вопросы могут быть совсем простые или иметь подробные инструкции.</h5>
					<h4 class="num-list-header" >4. Ознакомьтесь с возможными неисправностями вашего автомобиля.</h4>
					<h5 style="margin-left: 21px;">Найдите автосервис, готовый починить конкретно такую неисправность.</h5>
				</div>
  				<div class="col-md-6 col-sm-6" align="right" style="margin-top:35px;">
					<img class="ad2" src="assets/images/2_1.jpg" style="max-width:360px; max-height:348px;">
  				</div>
			</div>
		</div>

		<div class="text-center"  style="color:#F06015">
			<a class="btn btn-action btn-general" role="button" href="Выбор2.html">Найти неисправность</a>
		</div>
	</div>


	<div class="jumbotron top-space"  style="background-color:#F2F2F2;padding:20px">
		<div class="container">
			<h5 class="text-center" style="margin:0px; margin-bottom:50px; font-size: 28px">Какие марки поддерживает поиск неисправностей?</h5>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/rEwUojXrZcE.jpg" width=60px></div>
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/0520092553344.jpg" width=50px></div>
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/mercedes.jpg" width=60px></div>
				<div class="clearfix hidden-lg hidden-md hidden-sm"></div>
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/dsrfwq3.jpeg" width=60px></div>
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/200_200_77_img.jpg" width=47px></div>
				<div class="col-md-2 col-sm-2 col-xs-4"><img src="assets/images/0pHI1lTwH8o_100.jpg" width=60px></div>
			</div>
		</div> <!-- /row  -->
	</div>
	<!-- /Highlights -->
{% endblock %}